.btn {
  display: block;
  box-sizing: border-box;
  padding: 8px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: @btn-bg-color;
  color: @btn-color;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.btn--gray {
  background-color: @bg-footer;
  color: @text-color;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.btn--catalog {
  width: 280px;

  @media @tablet {
    width: 249px;
  }

  @media @desktop {
    width: 169px;
  }
}
