.btn {
  display: block;
  padding: 9px 10px 8px 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: @btn-bg-color;
  color: @btn-color;
  border: none;
}

.btn--gray {
  background-color: @bg-footer;
  color: @text-color;
}

.btn--catalog {
  flex-grow: 1;
}
