.contacts {
  background-color: @bg-footer;

  &--light {
    background-color: #ffffff;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__title {
  width: 123px;
  padding: 28px 5px 26px 19px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: @h-color;
}

.contacts__address {
  width: 135px;
  padding: 28px 25px 10px 5px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: @text-color;
}
