.contacts {
  position: relative;
  background-color: @bg-footer;

  &--light {
    background-color: #ffffff;
  }
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media @tablet {
    padding: 0 70px;
  }

  @media @desktop {
    position: absolute;
    top: 95px;
    left: calc(50% - 610px);
    padding-right: 87px;
    padding-left: 76px;
    width: 570px;
    min-height: 201px;
    background-color: white;
    z-index: 1;
  }
}

.contacts__title {
  margin-bottom: 26px;
  padding-top: 28px;
  width: 123px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: @h-color;

  @media @tablet {
    margin-bottom: 61px;
    padding-top: 66px;
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__address {
  width: 137px;
  padding: 28px 3px 0 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: @text-color;

  @media @tablet {
    padding-top: 64px;
    width: 155px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    span {
      display: block;
      padding-top: 20px;
    }
  }

  @media @desktop {
    text-align: left;
  }
}

.contacts__map {
  width: auto;
  margin: 0 auto;
  height: 364px;
  background-color: #f0f0f0;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  @media @tablet {
    height: 396px;
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }


  @media @desktop {
    height: 400px;
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
