.footer {
  background-color: @bg-footer;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;

  @media @tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 53px;
    padding-bottom: 31px;
  }

  @media @desktop {
    padding-top: 51px;
    padding-bottom: 34px;
  }
}

.footer__logo {
  width: 280px;
  padding-top: 37px;
  padding-bottom: 26px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media @tablet {
    padding-top: 10px;
    padding-left: 10px;
    width: 163px;
    text-align: left;
    border: none;
  }

  @media @desktop {
    padding-left: 19px;
  }
}

.footer__social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 17px 0 14px;
  width: 280px;
  border-bottom: 1px solid #d9d9d9;

  @media @tablet {
    padding-top: 6px;
    border: none;
  }
}

.footer__social-link {
  fill: #666666;

  &:hover,
  &:focus {
    fill: @btn-bg-color;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    margin-left: 72px;
  }

  &--insta {
    margin-right: 38px;
    margin-left: 38px;
    padding-top: 8px;
  }

  @media @tablet {
    border: none;

    &--insta {
      margin-right: 28px;
      margin-left: 28px;
      padding-top: 2px;
    }

    &--vk > svg {
      width: 30px;
      height: 17px;
    }

    &--insta > svg {
      width: 23px;
      height: 23px;
    }

    &--fb > svg {
      width: 14px;
      height: 27px;
    }
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 25px;
  width: 280px;

  @media @tablet {
    padding: 0 10px 0 0;
    width: 163px;
  }

  @media @desktop {
    padding: 4px 20px 0 0;
  }
}

.footer__copyright-link {
  color: @text-color;

  &:hover,
  &:focus,
  &:hover > .footer__copyright-img,
  &:focus > .footer__copyright-img {
    color: @text-color;
    fill: @btn-bg-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright-img {
  position: relative;
  display: block;
  fill: #666666;
}
