.main-nav {
  position: relative;

  @media @mobile {
    &--nojs {
      .main-nav__toggle {
        display: none;
      }
    }

    &--closed {
      .main-nav__toggle::before {
        position: absolute;
        content: "";
        top: 11px;
        left: 10px;
        width: 25px;
        height: 2px;
        background-color: black;
        box-shadow: 0 8px 0 0 black, 0 16px 0 0 black;
      }

      .main-nav__toggle:active::before {
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.3), 0 16px 0 0 rgba(0, 0, 0, 0.3);
      }

      .main-nav__list {
        display: none;
      }
    }

    &--opened {
      .main-nav__toggle {
        &::before,
        &::after {
          position: absolute;
          content: "";
          top: 19px;
          left: 10px;
          width: 25px;
          height: 2px;
          background-color: black;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }

        &:active::before,
        &:active::after {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: -53px;
  right: -6px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;

  @media @tablet {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -20px;
  margin-right: -20px;

  @media @tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 480px;
    margin-left: 0;
    margin-right: 0;
    padding: 20px 0 20px;
  }

  @media @desktop {
    width: 580px;
    padding: 52px 0 25px;
  }
}

.main-nav__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid @border;

  a {
    display: block;
    padding-top: 22px;
    padding-bottom: 20px;
    color: @h-color;
  }

  a:hover,
  a:focus {
    opacity: 0.6;
  }

  a:active {
    opacity: 0.3;
  }

  @media @tablet {
    font-size: 18px;
    font-weight: normal;
    border-top: none;

    a {
      margin-right: 35px;
      padding-bottom: 9px;
    }

    &:last-child {
      a {
        margin-right: 0;
      }
    }

    &--active {
      a {
        border-bottom: 2px solid @btn-bg-color;
      }
    }
  }

  @media @desktop {
    font-size: 20px;

    &--active {
      a {
        border-bottom: 2px solid @btn-bg-color;
      }
    }
  }
}

.main-nav--index {
  @media @desktop {
    a {
      color: #ffffff;
    }

    .main-nav__link {
      border-bottom: 2px solid white;
    }
  }
}
